USE [Demo]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 26.02.2024 17:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[MaterialTypeId] [int] NOT NULL,
	[PackageAmount] [int] NOT NULL,
	[MeasurementTypeId] [int] NOT NULL,
	[TotalCount] [int] NOT NULL,
	[MinimumBalance] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 26.02.2024 17:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[Id] [int] NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasurementType]    Script Date: 26.02.2024 17:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasurementType](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MeasurementType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 26.02.2024 17:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] NOT NULL,
	[Image] [varbinary](max) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Articul] [nvarchar](10) NOT NULL,
	[MinimalCost] [decimal](18, 2) NOT NULL,
	[ProductTypeId] [int] NOT NULL,
	[WorkersCount] [int] NOT NULL,
	[WorkShopId] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMaterial]    Script Date: 26.02.2024 17:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaterial](
	[Id] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[MaterialCount] [int] NOT NULL,
 CONSTRAINT [PK_ProductMaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 26.02.2024 17:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkShop]    Script Date: 26.02.2024 17:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkShop](
	[Id] [int] NOT NULL,
	[Title] [nchar](10) NOT NULL,
 CONSTRAINT [PK_WorkShop] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Material] ([Id], [Name], [MaterialTypeId], [PackageAmount], [MeasurementTypeId], [TotalCount], [MinimumBalance], [Price]) VALUES (1, N'Спрессованный материал серый 0x2', 1, 5, 1, 140, 49, CAST(33128.00 AS Decimal(18, 2)))
INSERT [dbo].[Material] ([Id], [Name], [MaterialTypeId], [PackageAmount], [MeasurementTypeId], [TotalCount], [MinimumBalance], [Price]) VALUES (2, N'Рулон бумаги зеленый 1x1', 2, 3, 1, 634, 36, CAST(26841.00 AS Decimal(18, 2)))
INSERT [dbo].[Material] ([Id], [Name], [MaterialTypeId], [PackageAmount], [MeasurementTypeId], [TotalCount], [MinimumBalance], [Price]) VALUES (3, N'Спрессованный материал розовый 2x1', 1, 8, 1, 636, 21, CAST(52606.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[MaterialType] ([Id], [Name]) VALUES (1, N' Пресс    ')
INSERT [dbo].[MaterialType] ([Id], [Name]) VALUES (2, N' Рулон    ')
INSERT [dbo].[MaterialType] ([Id], [Name]) VALUES (3, N' Гранулы  ')
GO
INSERT [dbo].[MeasurementType] ([Id], [Name]) VALUES (1, N' м')
INSERT [dbo].[MeasurementType] ([Id], [Name]) VALUES (2, N' л')
INSERT [dbo].[MeasurementType] ([Id], [Name]) VALUES (3, N' кг')
GO
INSERT [dbo].[Product] ([Id], [Image], [Name], [Articul], [MinimalCost], [ProductTypeId], [WorkersCount], [WorkShopId]) VALUES (2, NULL, N'Набор 24М Дыня', N'337632', CAST(11471.00 AS Decimal(18, 2)), 2, 5, 5)
INSERT [dbo].[Product] ([Id], [Image], [Name], [Articul], [MinimalCost], [ProductTypeId], [WorkersCount], [WorkShopId]) VALUES (3, NULL, N'Набор 9М Бриз', N'259548', CAST(2317.00 AS Decimal(18, 2)), 2, 4, 5)
GO
INSERT [dbo].[ProductType] ([Id], [Name]) VALUES (1, N'Три слоя')
INSERT [dbo].[ProductType] ([Id], [Name]) VALUES (2, N'Два слоя')
INSERT [dbo].[ProductType] ([Id], [Name]) VALUES (3, N'Детская')
GO
INSERT [dbo].[WorkShop] ([Id], [Title]) VALUES (1, N'Цех №1    ')
INSERT [dbo].[WorkShop] ([Id], [Title]) VALUES (2, N'Цех №2    ')
INSERT [dbo].[WorkShop] ([Id], [Title]) VALUES (3, N'Цех №3    ')
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MaterialType] FOREIGN KEY([MaterialTypeId])
REFERENCES [dbo].[MaterialType] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MaterialType]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MeasurementType] FOREIGN KEY([MeasurementTypeId])
REFERENCES [dbo].[MeasurementType] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MeasurementType]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_WorkShop] FOREIGN KEY([WorkShopId])
REFERENCES [dbo].[WorkShop] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_WorkShop]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaterial_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_ProductMaterial_Material]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaterial_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_ProductMaterial_Product]
GO
